.container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.thumbnail {
    width: 64px;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background-color: var(--grey-700);

    & > img {
        width: 100%;
        height: 100%;

        border-radius: 50%;
    }
}

.informations {
    & > span {
        display: block;
    }
}

.name {
    font-size: var(--font-small);
    font-weight: var(--font-medium);
}

.email {
    font-size: var(--font-xsmall);
    color: var(--primary-500);
}